#modalPane { 
	background: black;
	color: white;
	height: 100vh;
	width:5em;
	position: fixed;
}

#modalPane.tall { 
	height: 100vh;
	width:5em;
}

#modalPane.wide {  /* n.b.: default */
	top: 0;
	width: 100%;
	height:5em;
}

.constituent { 
	float:left;
	padding-right: 3em;
	max-width: 4em;
	height: 100%;
}

.constituent.active { 
	background: red;
}

#modalPane.tall .constituent img { 
	max-width: 3em;
	max-height: 4em;
}

#modalPane.wide .constituent img { 
	max-height: 3em;
	max-width: 4em;
}

.scorepane {
		position: absolute;
		top: 5em;
		padding-top: 1em;
		height: calc(100vu-5em);
}

.note, .annotation, .constituent { 
	cursor:pointer;
}
		
.note.active { 
	fill: red;
	color:red;
}
.annotation {
	stroke: #006633;
	fill:  #006633;
}
.reg, .reg * {
	stroke: #5500AA;
	fill: #5500AA;
}
.fingering {
	font-size: 650px;
	font-style: normal;
}

#sync { 
	position:fixed;
	bottom:0em;
	right: 0em;
}

.setButtonsContainer { 
	position:fixed;
	bottom:0em;
	left: 0em;
}

.setButton { 
	float:left;
}

.cached { 
	display:none;
}
